# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.git
.idea
.vscode

*.iml
.*.swp

src/
nodejs-moera-api/
schemas.*
schemas-compile.*
